#<ACTION> file=>'web/tmpl/onu_graph.html',hook=>'new'
<script type='text/javascript'>
$(document).ready(function() {
  Highcharts.setOptions({
    global: {
      useUTC: false
    },
    lang: {
      locale: '{{locale}}'
    },
    accessibility: {
      enabled: false
    }
  });

  var containerWidth = document.getElementById('a_onu_graph').offsetWidth;
  var chartWidth = containerWidth * (95 / 100);
  var chart = new Highcharts.Chart(
    'a_onu_graph',
    {
      chart: {
        type: 'spline',
        width: chartWidth,
        zoomType: 'x',
        spacingRight: 10
      },
      title: {
        text: "{{title}}",
        useHTML: true
      },
      xAxis: {
        title: {
          text: "{{x_title}}",
        },
        labels: {
          formatter: function() {
            {% if type %}
              return Highcharts.dateFormat('%e. %b', this.value - (new Date().getTimezoneOffset() * 60000));
            {% else %}
              return Highcharts.dateFormat('%H:%M', this.value - (new Date().getTimezoneOffset() * 60000));
            {% endif %}
          },
        },
        type: 'datetime',
        gridLineWidth: 1,
      },
      yAxis: {
        title: {
          text: "{{y_title}}",
        },
        startOnTick: true,
        showFirstLabel: false,
      },
      tooltip: {
        enabled: true,
        shared: true,
        useHTML: true,
        valueDecimals: 2,
        valueSuffix: ' dBi',
        headerFormat: '<span style="font-size: 14px">{point.key:%A<br>%Y-%m-%d<br>%H:%M:%S}</span><br>' // date time formatting
      },
      plotOptions: {
        spline: {
          lineWidth: 1,
          marker: {
            enabled: false,
          },
          shadow: false,
        },
        line: {
          lineWidth: 2,
          marker: {
            enabled: false,
          },
          shadow: false,
        },
        column: {
          borderWidth: 3,
        },
      },
      series: [
        {% for s in series %}
          {
            type: {% if type %}'area'{% else %}'spline'{% endif %},
            name: '{{s.name}}',
            color: '{{s.color}}',
            data: [{% for point in s.points %} [ {{point.x}}, {{point.y}} ], {% endfor %}],
          },
        {% endfor %}
      ]
    }
  );
});
</script>
